header {
    background-color: tomato;
    color: beige;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

h1 {
    margin: 0;
}

header a {
    color: white;
}

body {
  margin: 0;
}
