<div class="modal-overlay">
    <div class="modal-card">
        <div class="section-header">
            <h2>Add expense</h2>
        </div>
        <form hx-post="/expenses" hx-target="#modal-slot" hx-swap="innerHTML">
            <div class="group-fields">
                <label>
                    Description
                    <input type="text" name="description" required>
                </label>
                <label for="split-with">Split with</label>

                <select id="split-with"
                    name="split_with"
                    required
                    hx-get="/expenses/payer-options"
                    hx-trigger="change"
                    hx-include="this"
                    hx-target="#payer-select-slot"
                    hx-swap="innerHTML">
                <option value="" selected disabled>Select a friend</option>
                {% for friend in friends %}
                    <option value="{{ friend.id }}">{{ friend.name }}</option>
                {% endfor %}
                </select>
                <div id="payer-select-slot">
                    <label for="paid-by">Paid by</label>

                    <select id="paid-by" name="paid_by" required>
                        <option value="{{ current_user_id }}">You</option>
                    </select>
                </div>
                <label>
                    Amount
                    <input type="number" name="amount" step="0.01" required>
                    <span>€</span>
                </label>
            </div>
            <div class="form-actions">
                <button type="button" class="btn-cancel"
                    hx-get="/expenses/close"
                    hx-target="#modal-slot"
                    hx-swap="innerHTML">
                    Cancel
                </button>
                <button type="submit" class="btn-create">
                    Add Expense
                </button>
            </div>
        </form>
    </div>
</div>